@import 'reset';


//fonts
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', cursive;

//colors
$pink: #F38281;
$yellow: #F9EFCF;
$orange: #F4BF87;
$green: #95E1D3;
$black: #2D3033;
$gray: #C6CBCD;
$white: #fff;
$whitedark: #F8F8F8;
$bg_pink: linear-gradient(360deg, rgba(237, 215, 137, 0.8) 0%, rgba(233, 130, 131, 0.8) 100%);

//line
%line {
  border-bottom: 4px solid $pink;
  width: 170px;
  margin: 0 auto;
}

//titles
%title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}


body {
  font-family: $raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $black;
}

.container {
  width: 1170px;
  margin: 0 auto;
}


// heading

.heading {

  text-align: center;

  &__subtitle {
    font-family: $kaushan;
    font-size: 30px;
    line-height: 44px;
  }

  h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 42px;
    margin: 37px 0 44px 0;
  }

  &__text {
    margin-top: 38px;
  }

  &__line {
    @extend %line;
  }

}

//swiper
.swiper-slide {
  padding: 0 100px;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  &__img img {
    object-fit: cover;
    width: 170px;
    height: 170px;
  }

  &__inf {
    position: relative;

    &__text {
      font-size: 24px;
      font-style: italic;
      font-weight: 500;
      width: 770px;
      color: #A9AFB1;
      line-height: 28px;
      margin-bottom: 31px;
    }

    &__line {
      @extend %line;
      width: 70px;
      margin: 0;
      position: absolute;
      bottom: 38px;
      left: 0;
    }

    &__name {
      margin-left: 126px;
      color: $black;
      font-family: $kaushan;
      font-size: 30px;
      line-height: 44px;
    }
    
  }


}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #C6CBCD;
  font-size: 30px;
}

//firstscreen

.firstscreen {
  background: $whitedark url(../img/bg.jpg) no-repeat center center / cover;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 0 32px;


  &__logo {
    left: auto;
    display: inline-block;
  }

  &__menu {
    display: flex;
    gap: 41px;
  }

  &__menu ul {
    display: flex;
    gap: 62px;


  }

  &__menu ul li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: $white;
    text-transform: uppercase;

  }

  &__menu ul li a:hover {
    color: $orange;
    border-bottom: 1px solid $orange;
  }

  &__icons a:first-of-type{
    margin-right: 35px;
  }
}

//banner

.banner {
  text-align: center;
  color: $white;
  padding: 72px 0 22px;

  &__subtitle {
    font-family: $kaushan;
    font-size: 64px;
    line-height: 93px;
  }

  h1 {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    margin: 2px 0 53px 0;

    span {
      display: inline-block;
    }
  }

  &__line {
    @extend %line;
    border-color: $white;
  }

  &__btn {
    padding: 24px 107px 26px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    border: 4px solid $white;
    color: $white;
    text-transform: uppercase;
    margin: 74px 0 116px;
    display: inline-block;
    transition: all ease 0.3s;
  }

  &__btn:hover {
    background-color: $white;
    color: #E4BE8D;
  }

  &__btn:active {
    background-color: $white;
    color: #E4BE8D;
    border-color: #E4BE8D;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    text-align: left;

    &__item:hover {

      .banner__slider__line {
        border-color: $white;
        
        &::after {
          content: '';
          @extend %line;
          position: absolute;
          left: 0;
          top: 0;
          width: 70px;
        }

      }

      .banner__slider__text {
        color: $white;
      } 

    }

    &__line {
      @extend %line;
      border-color: $yellow;
      width: 270px;
      margin-bottom: 21px;
      position: relative;
    
    }
    

    &__text {
      color: $yellow;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;

      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
  }

  

}

// about section

.about {
  padding: 60px 0 106px 0;

  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    gap: 30px;
  }

  &__item {
    height: 338px;
    width: 370px;
    position: relative;

    &_hover {
      display: none;

      .down {
        width: 370px;
        height: 338px;
        background-color: $green;
      }

      .up {
        padding: 129px 0 111px;
        width: 370px;
        height: 338px;
        background: $bg_pink;
        position: absolute;
        top: -16px;
        left: -16px;
        text-align: center;

        a {

          img {
            width: 40px;
            height: 40px;
          };

          p {
            margin-top: 30px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: $white;
          }

        }
      }
      
    }

    img {
      object-fit: cover;
    }

    &:hover &_hover {
      display: block;
      position: absolute;
      transition: all 0.8s ease;
    }
  }

}
// futures section

.futures {
  background: $green;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &__item {
      text-align: center;
      color: $white;
      padding: 64px 43px;
      border-left: 1px solid $white;

      &:last-child {
        border-right: 1px solid $white;
      }


      p {
        font-size: 64px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 19px;
      }

      span {
        line-height: 28px;
        font-weight: 500;
        font-size: 24px;
        
      }
    }
  }


}
// amazservices section

.amazservices {
  padding: 60px 0 110px 0;

  &__wrapper {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 159px 30px ;
  }

  &__item {
    width: 370px;
    display: flex;
    gap: 30px;

    &__icon {
      width: 70px;
      height: 70px;
    }

    &__title {
      @extend %title;
      line-height: 28px;
      margin: 19px 0 31px 0;
    }

    &__desc {
      width: 270px;
    }

  }

}

// unique section

.unique {
  padding: 60px 0 57px 0;
  background: $whitedark url(../img/unique_bg.jpg) no-repeat center center / cover;
  position: relative;

  &__wrapper {
    position: relative;

    &__tablet {
      text-align: center;
      margin-top: 59px;
    }
  
    &__phone {
      position: absolute;
      bottom: -100px;
      right: 195px;
    }

  }

}

// service section

.service {
  padding: 60px 0 114px;

  .accordion {
    margin-top: 80px;
    height: 483px;
    background-color: #F38281;
  }
}

// review1 section

.reviews1 {
  padding: 42px 0 42px 0;
  background-color: $whitedark;
}

// team section

.team {
  padding: 102px 0 88px;

  &__items {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    text-align: center;

    &_hover {
      display: none;

      .hover__wrapper {
        padding: 207px 0 175px;
        width: 370px;
        height: 424px;
        background: $bg_pink;
        position: absolute;
        top: -16px;
        left: -16px;
        text-align: center;

        .icon-font {
          display: inline-block;
          color: $pink;
          background-color: $yellow;
          width: 42px;
          height: 42px;
          font-size: 30px;
          line-height: 47px;

          &:hover {
            background-color: $pink;
            color: $white;
          }

        }

      }
  
    }

    &__title {
      margin: 26px 0 31px 0;
      @extend %title;
    }

    &__desc {
      text-transform: uppercase;
    }

    &:hover &_hover {
      display: block;
      position: absolute;
      transition: all 0.8s ease;
    }

  }



}

//partner section

.partners {
  padding: 42px 0;
  background-color: $whitedark;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

//our work section

.ourwork {
  padding: 102px 0 84px 0;

  &__wrapper {
    margin-top: 80px;
    display: grid;
    grid-template: repeate(2, 1fr) / repeat(4, 1fr);
    gap: 0;

  }

  &__item {
    position: relative;
    box-sizing: border-box;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;

    }

    &_hover {
      display: none;
      position: absolute;
      padding: 118px 0 0;
      background: $bg_pink;
      text-align: center;
      width: 100%;
      height: 100%;

      a {
   
        img {
          width: 42px;
          height: 42px;
        }

        p {
          margin: 68px auto 16px;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: $white;
        }

        span {
          color: $white;
        }

      }
      
    }

    &:hover &_hover {
      display: block;
      position: absolute;
      transition: all 0.8s ease;

    }
  }


  .item2 {
    grid-row: 1;
    grid-column: 2;
  }


  .item3 {
    grid-row: 1/3;
    grid-column: 3;

    .ourwork__item_hover{
      padding: 307px 0 0 0;
      
    }
  }

  .item4 {
    grid-row: 1;
    grid-column: 4;
  }

}

// review2 section

.reviews2 {
  padding: 48px 0 48px 0;

  .swiper-slide__img img {
    border-radius: 85px;
  }


}

// clients section

.clients {
  padding: 60px 0 64px 0;
  background: $whitedark url(../img/clients_bg.jpg) no-repeat center center / cover;

  &__wrapper {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 76px 50px;
  }

  &__item {
    width: 550px;
    display: flex;
    gap: 50px;
    

    &__img img  {
      border-radius: 85px;
      object-fit: cover;
      width: 130px;
      height: 130px;
    }

    &__name {
      @extend %title;
    }

    &__job {
      text-transform: uppercase;
      margin: 11px 0 31px 0;
    }

    &__line {
      @extend %line;
      margin: 0;
      width: 70px;

    }

    &__text {
      width: 369px;
      margin: 55px 0 0 0;
    }
  }
  


}

// stories section

.stories {
  padding: 102px 0 85px 0;

  &__wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    position: relative;


    &__date {
      position: absolute;
      padding: 7px 21px 0;
      top: 148px;
      left: -14px;
      width: 80px;
      height: 80px;
      background-color: $green;
      color: $white;
      text-align: center;

      p {
        font-size: 36px;
        font-weight: 700;
        line-height: 30px; 
        text-transform: uppercase;
        margin-bottom: 7px;
      }

      span {
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;

      }

    }

    img {
      width: 370px;
      height: 253px;
      object-fit: cover;
    }

    &__title {
      @extend %title;
      margin: 36px 0 14px;
    }

    &__add {
      margin-top: 30px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
      }

      p {
        margin: 0 47px 0 16px;
        color: $black;
        font-size: 13px;
        line-height: 15px;

      }
    }

  }


}

// map section

.map {
  padding: 42px 0;
  background: $whitedark url(../img/map_bg.jpg) no-repeat center center / cover;

  .heading {

    img {
      width: 42px;
      height: 42px;
    }
  
    h2 {
      color: $pink;
    }

  }



  

}

// footer

.footer {
  padding: 78px 0 17px;
  background-color: $whitedark;

  &__title {
    @extend %title;
    margin-bottom: 36px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 370px 470px 270px;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-bottom: 42px;
  }

  &__item {
    grid-column: 1;

    img {
      width: 141px;
      height: 38px;
    }

    &__desc {
      color: $gray;
      margin: 44px 0 36px;
    }

    &__15K {
      text-transform: uppercase;
      line-height: 30px;

      span {
        font-weight: 700;
      }

      span:first-of-type {
        font-size: 36px;
      }

    }

    &__line {
      width: 100%;
      margin: 19px 0 10px;
      border: 1px solid $gray;
    }

    &__social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 11px;

      p {
        font-size: 13px;
        line-height: 15px;
        font-style: italic;
        color: $gray;
        margin-right: 31px;
        
      }

      img {
        width: 24px;
        height: 24px;
        
      }
    }

    form {
      background: $white;
      width: 100%;
      position: relative;
      margin-top: 44px;

      input[type="email"]{
        border: 1px solid $gray;
        padding: 16px 0 16px 75px;
        width: 100%;
        border-right: none;

        &::placeholder {
          color: $gray;
        }

        &:focus {
          outline: none;
        }

      }

      input[type="submit"]{
        position: absolute;
        right: 0;
        border: 1px solid $green;
        background-color: $green;
        color: $white;
        cursor: pointer;
        transition: color .2s;
        text-transform: uppercase;
        padding: 16px 16px;
        font-weight: 700;

        
        &:hover {
          background-color: #87D2C4;
          border: 1px solid #87D2C4;
        }

        &:active {
          background-color: #5C958A;
          border: 1px solid #5C958A;
        }

      }

    }



  }

  &__blog {
    grid-column: 2;

    &__item {
      display: flex;
      justify-content: space-between;
      gap: 30px;


      img {
        width: 170px;
        height: 105px;
        object-fit: cover;
      }

      div {

        p {
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 13px;
        }

        span {
          font-size: 13px;
        }

      }
    
    }

    &__item:not(:nth-of-type(3)) {
      margin-bottom: 20px;
    }


  }

  &__instagram {
    grid-column: 3;

    &__wrapper {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      gap: 0;
      margin-bottom: 38px;
    }

    &__photos {
      font-size: 13px;
      text-transform: uppercase;
    
      color: $black;

      &:link {
        text-decoration: underline;
      }
    }

  }

  &__line {
    width: 100%;
    border: 1px solid $gray;
  }

  &__copyright {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 15px;
    margin-top: 18px;

  }
}

