/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.clients__item__line, .swiper-slide__inf__line, .heading__line {
  border-bottom: 4px solid #F38281;
  width: 170px;
  margin: 0 auto;
}

.footer__title, .stories__item__title, .clients__item__name, .team__item__title, .amazservices__item__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2D3033;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.heading {
  text-align: center;
}
.heading__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  line-height: 44px;
}
.heading h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 42px;
  margin: 37px 0 44px 0;
}
.heading__text {
  margin-top: 38px;
}
.swiper-slide {
  padding: 0 100px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.swiper-slide__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 170px;
  height: 170px;
}
.swiper-slide__inf {
  position: relative;
}
.swiper-slide__inf__text {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  width: 770px;
  color: #A9AFB1;
  line-height: 28px;
  margin-bottom: 31px;
}
.swiper-slide__inf__line {
  width: 70px;
  margin: 0;
  position: absolute;
  bottom: 38px;
  left: 0;
}
.swiper-slide__inf__name {
  margin-left: 126px;
  color: #2D3033;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  line-height: 44px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #C6CBCD;
  font-size: 30px;
}

.about {
  padding: 60px 0 106px 0;
}
.about__items {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  gap: 30px;
}
.about__item {
  height: 338px;
  width: 370px;
  position: relative;
}
.about__item_hover {
  display: none;
}
.about__item_hover .down {
  width: 370px;
  height: 338px;
  background-color: #95E1D3;
}
.about__item_hover .up {
  padding: 129px 0 111px;
  width: 370px;
  height: 338px;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.8) 0%, rgba(233, 130, 131, 0.8) 100%);
  position: absolute;
  top: -16px;
  left: -16px;
  text-align: center;
}
.about__item_hover .up a img {
  width: 40px;
  height: 40px;
}
.about__item_hover .up a p {
  margin-top: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}
.about__item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.about__item:hover .about__item_hover {
  display: block;
  position: absolute;
  transition: all 0.8s ease;
}

.futures {
  background: #95E1D3;
}
.futures__wrapper {
  display: flex;
  justify-content: space-between;
}
.futures__wrapper__item {
  text-align: center;
  color: #fff;
  padding: 64px 43px;
  border-left: 1px solid #fff;
}
.futures__wrapper__item:last-child {
  border-right: 1px solid #fff;
}
.futures__wrapper__item p {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 19px;
}
.futures__wrapper__item span {
  line-height: 28px;
  font-weight: 500;
  font-size: 24px;
}

.amazservices {
  padding: 60px 0 110px 0;
}
.amazservices__wrapper {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 159px 30px;
}
.amazservices__item {
  width: 370px;
  display: flex;
  gap: 30px;
}
.amazservices__item__icon {
  width: 70px;
  height: 70px;
}
.amazservices__item__title {
  line-height: 28px;
  margin: 19px 0 31px 0;
}
.amazservices__item__desc {
  width: 270px;
}

.unique {
  padding: 60px 0 57px 0;
  background: #F8F8F8 url(../img/unique_bg.jpg) no-repeat center center/cover;
  position: relative;
}
.unique__wrapper {
  position: relative;
}
.unique__wrapper__tablet {
  text-align: center;
  margin-top: 59px;
}
.unique__wrapper__phone {
  position: absolute;
  bottom: -100px;
  right: 195px;
}

.service {
  padding: 60px 0 114px;
}
.service .accordion {
  margin-top: 80px;
  height: 483px;
  background-color: #F38281;
}

.reviews1 {
  padding: 42px 0 42px 0;
  background-color: #F8F8F8;
}

.team {
  padding: 102px 0 88px;
}
.team__items {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team__item {
  text-align: center;
}
.team__item_hover {
  display: none;
}
.team__item_hover .hover__wrapper {
  padding: 207px 0 175px;
  width: 370px;
  height: 424px;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.8) 0%, rgba(233, 130, 131, 0.8) 100%);
  position: absolute;
  top: -16px;
  left: -16px;
  text-align: center;
}
.team__item_hover .hover__wrapper .icon-font {
  display: inline-block;
  color: #F38281;
  background-color: #F9EFCF;
  width: 42px;
  height: 42px;
  font-size: 30px;
  line-height: 47px;
}
.team__item_hover .hover__wrapper .icon-font:hover {
  background-color: #F38281;
  color: #fff;
}
.team__item__title {
  margin: 26px 0 31px 0;
}
.team__item__desc {
  text-transform: uppercase;
}
.team__item:hover .team__item_hover {
  display: block;
  position: absolute;
  transition: all 0.8s ease;
}

.partners {
  padding: 42px 0;
  background-color: #F8F8F8;
}
.partners .container {
  display: flex;
  justify-content: space-between;
}

.ourwork {
  padding: 102px 0 84px 0;
}
.ourwork__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template: repeate(2, 1fr)/repeat(4, 1fr);
  gap: 0;
}
.ourwork__item {
  position: relative;
  box-sizing: border-box;
}
.ourwork__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.ourwork__item_hover {
  display: none;
  position: absolute;
  padding: 118px 0 0;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.8) 0%, rgba(233, 130, 131, 0.8) 100%);
  text-align: center;
  width: 100%;
  height: 100%;
}
.ourwork__item_hover a img {
  width: 42px;
  height: 42px;
}
.ourwork__item_hover a p {
  margin: 68px auto 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}
.ourwork__item_hover a span {
  color: #fff;
}
.ourwork__item:hover .ourwork__item_hover {
  display: block;
  position: absolute;
  transition: all 0.8s ease;
}
.ourwork .item2 {
  grid-row: 1;
  grid-column: 2;
}
.ourwork .item3 {
  grid-row: 1/3;
  grid-column: 3;
}
.ourwork .item3 .ourwork__item_hover {
  padding: 307px 0 0 0;
}
.ourwork .item4 {
  grid-row: 1;
  grid-column: 4;
}

.reviews2 {
  padding: 48px 0 48px 0;
}
.reviews2 .swiper-slide__img img {
  border-radius: 85px;
}

.clients {
  padding: 60px 0 64px 0;
  background: #F8F8F8 url(../img/clients_bg.jpg) no-repeat center center/cover;
}
.clients__wrapper {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 76px 50px;
}
.clients__item {
  width: 550px;
  display: flex;
  gap: 50px;
}
.clients__item__img img {
  border-radius: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
  height: 130px;
}
.clients__item__job {
  text-transform: uppercase;
  margin: 11px 0 31px 0;
}
.clients__item__line {
  margin: 0;
  width: 70px;
}
.clients__item__text {
  width: 369px;
  margin: 55px 0 0 0;
}

.stories {
  padding: 102px 0 85px 0;
}
.stories__wrapper {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.stories__item {
  position: relative;
}
.stories__item__date {
  position: absolute;
  padding: 7px 21px 0;
  top: 148px;
  left: -14px;
  width: 80px;
  height: 80px;
  background-color: #95E1D3;
  color: #fff;
  text-align: center;
}
.stories__item__date p {
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.stories__item__date span {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.stories__item img {
  width: 370px;
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories__item__title {
  margin: 36px 0 14px;
}
.stories__item__add {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.stories__item__add img {
  width: 32px;
  height: 32px;
}
.stories__item__add p {
  margin: 0 47px 0 16px;
  color: #2D3033;
  font-size: 13px;
  line-height: 15px;
}

.map {
  padding: 42px 0;
  background: #F8F8F8 url(../img/map_bg.jpg) no-repeat center center/cover;
}
.map .heading img {
  width: 42px;
  height: 42px;
}
.map .heading h2 {
  color: #F38281;
}

.footer {
  padding: 78px 0 17px;
  background-color: #F8F8F8;
}
.footer__title {
  margin-bottom: 36px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 370px 470px 270px;
  grid-template-rows: 1fr;
  gap: 30px;
  margin-bottom: 42px;
}
.footer__item {
  grid-column: 1;
}
.footer__item img {
  width: 141px;
  height: 38px;
}
.footer__item__desc {
  color: #C6CBCD;
  margin: 44px 0 36px;
}
.footer__item__15K {
  text-transform: uppercase;
  line-height: 30px;
}
.footer__item__15K span {
  font-weight: 700;
}
.footer__item__15K span:first-of-type {
  font-size: 36px;
}
.footer__item__line {
  width: 100%;
  margin: 19px 0 10px;
  border: 1px solid #C6CBCD;
}
.footer__item__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
}
.footer__item__social p {
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
  color: #C6CBCD;
  margin-right: 31px;
}
.footer__item__social img {
  width: 24px;
  height: 24px;
}
.footer__item form {
  background: #fff;
  width: 100%;
  position: relative;
  margin-top: 44px;
}
.footer__item form input[type=email] {
  border: 1px solid #C6CBCD;
  padding: 16px 0 16px 75px;
  width: 100%;
  border-right: none;
}
.footer__item form input[type=email]::-moz-placeholder {
  color: #C6CBCD;
}
.footer__item form input[type=email]::placeholder {
  color: #C6CBCD;
}
.footer__item form input[type=email]:focus {
  outline: none;
}
.footer__item form input[type=submit] {
  position: absolute;
  right: 0;
  border: 1px solid #95E1D3;
  background-color: #95E1D3;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
  text-transform: uppercase;
  padding: 16px 16px;
  font-weight: 700;
}
.footer__item form input[type=submit]:hover {
  background-color: #87D2C4;
  border: 1px solid #87D2C4;
}
.footer__item form input[type=submit]:active {
  background-color: #5C958A;
  border: 1px solid #5C958A;
}
.footer__blog {
  grid-column: 2;
}
.footer__blog__item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__blog__item img {
  width: 170px;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__blog__item div p {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer__blog__item div span {
  font-size: 13px;
}
.footer__blog__item:not(:nth-of-type(3)) {
  margin-bottom: 20px;
}
.footer__instagram {
  grid-column: 3;
}
.footer__instagram__wrapper {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 0;
  margin-bottom: 38px;
}
.footer__instagram__photos {
  font-size: 13px;
  text-transform: uppercase;
  color: #2D3033;
}
.footer__instagram__photos:link {
  text-decoration: underline;
}
.footer__line {
  width: 100%;
  border: 1px solid #C6CBCD;
}
.footer__copyright {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
  margin-top: 18px;
}/*# sourceMappingURL=main.css.map */